{% extends 'quiz/base.html' %}
{% load staticfiles %}
{% block body %}
<div>
	<section>
<div id="about_raize_container">
	<div class="about_title">ABOUT RAIZE</div>
	<div id="about_txt">Raize is a platform designed to help students find the right details to make wise and informed decisions for college, major, and company. It uniquely integrates self-assessment with crowd-sourced information to offer users the most insightful suggestions for college and beyond.</div>
	<div id="about_subtitle">Begin your journey <span class="link_txt"><a style="text-decoration:none;color:#2EA1A7" href="quiz/">HERE</a></span> by completing a 5 minute self-assessment and discover a future that fits you.</div>
</div>
</section>

	<div id="changing_banner">
//</div>
<div class="img_subtitle" style="width:100%;text-align:center;position:relative;bottom:180px;">
	Changing The Decade of Decision-Making
</div>
	<div class="page_title">The Raize Team</div>
	<hr>
</div>
<div id="member_box_container" class="container">
	<div class="row">
	<div class="member_box">
		<div class="member_img_container"><img src="{% static 'raizeme/images/marc_face.jpg' %}" class="member_img"/></div>
		<div class="member_name">Marc</div>
		<div class="member_role">Operations</div>
	</div>
	<div class="member_box">
		<div class="member_img_container"><img src="{% static 'raizeme/images/christie.jpg' %}" class="member_img"/></div>
		<div class="member_name">Christie</div>
		<div class="member_role">Marketing</div>
	</div>
	</div>
	<div class="row">
	<div class="member_box">
		<div class="member_img_container"><img src="{% static 'raizeme/images/chris.jpg' %}" class="member_img"/></div>
		<div class="member_name">Chris</div>
		<div class="member_role">Data/Strategy</div>
	</div>
	<div class="member_box">
		<div class="member_img_container"><img src="{% static 'raizeme/images/kavya.jpg' %}" class="member_img"/></div>
		<div class="member_name">Kavya</div>
		<div class="member_role">Tech/Marketing</div>
	</div>
	</div>
	<div class="row">
	<div class="member_box">
		<div class="member_img_container"><img src="{% static 'raizeme/images/derek.jpg' %}" class="member_img"/></div>
		<div class="member_name">Derek</div>
		<div class="member_role">Development</div>
	</div>
	<div class="member_box">
		<div class="member_img_container"><img src="{% static 'raizeme/images/phil.jpg' %}" class="member_img" style="border-radius: 50%" /></div>
		<div class="member_name">Phil</div>
		<div class="member_role">Data/Strategy</div>
	</div>
	</div>
	<div id="footer">
			<div class="footer_box" id="twitter">
				<div>TWITTER</div>
				<hr>
				<div>
					<a class="twitter-timeline"
					   href="https://twitter.com/Raize_Me"
					   data-height="300"
					   data-tweet-limit="1"
					   >
						Tweets by Raize_Me</a>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
			<div class="footer_box" id="contact_us">
				<div>CONTACT US</div>
				<hr>
				<div>
					Tech Support<br>
					<a class="email_link" href="mailto:tech@raizeme.com" target="_blank">tech@raizeme.com</a><br>
					Questions<br>
					<a class="email_link" href="mailto:tech@raizeme.com" target="_blank">questions@raizeme.com</a>
				</div>
			</div>
		</div>
</div>
{% endblock %}
